<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Organization",
  "name": "GetPEC mbH",
  "legalName": "Gesellschaft für thermodynamische Prozesse, Entwicklung und Consulting mbH",
  "url": "https://www.getpec.de",
  "logo": "https://www.getpec.de/assets/images/getpec-logo.svg",
  "description": "GetPEC entwickelt kundenspezifische Prüfstände, thermische Messtechnik und thermodynamische Analysen für Forschung, Entwicklung und industrielle Spezialanwendungen.",
  "foundingDate": "2016",
  "address": [
    {
      "@type": "PostalAddress",
      "addressType": "Besucheradresse",
      "streetAddress": "Rößlerstraße 96",
      "postalCode": "64293",
      "addressLocality": "Darmstadt",
      "addressCountry": "DE"
    },
    {
      "@type": "PostalAddress",
      "addressType": "Postanschrift",
      "streetAddress": "Viktoriastraße 69",
      "postalCode": "64293",
      "addressLocality": "Darmstadt",
      "addressCountry": "DE"
    }
  ],
  "contactPoint": {
    "@type": "ContactPoint",
    "telephone": "+49-6151-384386-0",
    "email": "info@getpec.de",
    "contactType": "customer service",
    "availableLanguage": ["German", "English"]
  },
  "sameAs": []
}
</script>
